* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  background-color: red;
  display: flex;
  justify-content: center;
  /* background-image: url("public/corn.gif"); */
  background-image: url("../halloween-background.jpg");
  background-position: center;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  user-select: none;
}

#app-container {
  height: 0;
  top: -563px;
  width: 563px;
}

.pumpkin-image {
  position: relative;
  top: 978px;
  bottom: 0;
  margin-left: 31.5px;
}

.pumpkin-main {
  width: 510px;
  left: 10px;
  bottom: 35px;
  position: absolute;
  opacity: 0.4;
}

canvas {
  border: 15px solid #f16333;
  border-top: none;
  border-bottom: none;
  margin-left: 25px;
  margin-bottom: 45px;
  position: absolute;
}

/* resets button styles */
