@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Playfair+Display&display=swap");

:root {
  --font-halloween: "Creepster", cursive;
  --font-elegant: "Playfair Display", serif;

  --color-orange: #ee5f00;
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  background-color: #431752;
  display: flex;
  justify-content: center;
  background-image: url("../halloween-background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  user-select: none;
}

#app-container {
  height: 0;
  top: -563px;
  width: 563px;
}

.pumpkin-image {
  position: relative;
  top: 978px;
  bottom: 0;
  margin-left: 31.5px;
}

.pumpkin-main {
  width: 510px;
  left: 10px;
  bottom: 35px;
  position: absolute;
  opacity: 0.4;
}

canvas {
  border: 15px solid var(--color-orange);
  border-top: none;
  border-bottom: none;
  margin-left: 25px;
  margin-bottom: 45px;
  position: absolute;
}

.scoreboard {
  font-size: 3rem;
  color: var(--color-orange);
  font-family: var(--font-halloween);
  margin-top: 15px;
  margin-right: 30rem;
}

.scoreboard > div {
  margin-top: 15px;
}

.toggle-sound {
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 250px;
  margin-top: 25px;
  background-color: transparent;
}

.toggle-sound > img:hover {
  cursor: pointer;
}

.toggle-sound > img {
  width: 40px;
}

.alert-image {
  display: none;
}

audio {
  width: 0;
}

@media (max-width: 1500px) {
  body {
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  .alert-image {
    z-index: 1;
    display: block;
    width: 1000px;
    position: absolute;
  }
}
